<main>
        <div class="blog1">
            <img src="/assets/images/Guide/161581069.jpg" alt="">
        </div>
        <div class="guide">
            <div class="container">
                <p class="topic"><b>6 destinations for a Spanish sabbatical</b></p>
                <p class="text">It’s no secret that a short holiday is a great way to boost your energy but sometimes
                    you need more than a quick getaway. Taking a sabbatical gives you the time to reflect on your
                    personal life and reconsider your career or just simply relax and take it easy to recharge your
                    batteries. With a slower pace of life, beautiful beaches and delicious, affordable tapas, Spain is
                    at the top of the list. Here are six of the best Spanish destinations for a sabbatical, along with
                    properties to book a long-stay (an accommodation offering guests stays of up to 90 days).</p>
                <p class="title"><b>Barcelona</b></p>
                <img src="/assets/images/Guide/blog1/Barcelona.jpg" alt="">
                <p class="text">If you’re taking time off work to embark on a creative pursuit, you’ll be looking for a
                    little inspiration from your surroundings. Barcelona offers this in droves. From snow-capped
                    mountains to clear blue waters, not to mention architecture of all colours in-between, it’s not hard
                    to see why artists of all kinds have been drawn to the Catalonian capital for centuries. So if
                    you’re looking to undertake a creative pursuit, head to Happy Apartments, located in Barcelona’s
                    Raval District.</p>
                <p class="title"><b>Bilbao</b></p>
                <img src="/assets/images/Guide/blog1/Bilbao.jpg" alt="">
                <p class="text">Bilbao is synonymous with the Guggenheim and for many, it’s the sole reason to visit.
                    But as you snake down the mountain roads and gaze out on the city below, it’s clear to see that
                    Frank Gehry’s masterpiece is just one of Bilbao’s many architectural crown jewels. All this against
                    the backdrop of lolling green hills and a meandering river that leads to a stunning coastline less
                    than 15 kilometres away. Simply put, Bilbao is incredibly easy on the eye.

                    But sight isn’t the only sense the Basque Country caters for. With epicurean delights at every turn
                    – including numerous Michelin-starred restaurants – it’s a must for foodies, too. Base yourself at
                    the BMA by Forever Apartments for a couple of months and enjoy everything the city has to offer.</p>
                <p class="title"><b>Madrid</b></p>
                <img src="/assets/images/Guide/blog1/Madrid.jpg" alt="">
                <p class="text">It’s time to forget about the 9 to 5, so why not wave goodbye to early bedtime too and
                    head to Madrid. Nocturnal capers in the Spanish capital’s seemingly infinite number of bars and
                    clubs are the perfect way to let loose and unwind. And if you really want to impress on the
                    dancefloor (and meet people), try taking a local flamenco class.

                    Madrid is also home to some of the finest galleries in the world, such as The Prado Museum and Reina
                    Sofia, where you’ll find masterpieces by Spanish greats such as Dali and Picasso. Ideally situated
                    in the heart of Madrid, Smartrental Collection Gran Vía Centric is the perfect place to stay as a
                    base for exploring one of the world’s great cities.</p>
                <p class="title"><b>Puerto Del Carmen</b></p>
                <img src="/assets/images/Guide/blog1/Puerto.jpg" alt="">
                <p class="text">Swap your work attire for lycra for a few months and train like an olympic cyclist while
                    staying at Hyde Park Lane in the town of Puerto Del Carmen on the island of Lanzarote. Active guests
                    can grapple with the slopes of an active volcano and pedal through the dramatic mountains while
                    looking down on the iconic black and white volcanic beaches that Lanzarote is famous for. And
                    because rest and recovery is an essential part of any athlete's fitness routine, you can enjoy a
                    rejuvenating dip in the pool after a hard day's cycling.</p>
                <p class="title"><b>Valencia</b></p>
                <img src="/assets/images/Guide/blog1/Valencia.jpg" alt="">
                <p class="text">Warm waters, sandy beaches, urban parks and over 200 days of sunshine a year – Valencia
                    is a city made for outdoor living. Whether you prefer a morning jog or an evening stroll, there’s no
                    shortage of ways to burn off last night’s paella. And when the sun sets and the temperatures drop,
                    there’s also no shortage of ways to spend your nights. We recommend heading to one of the city's
                    many tapas bars – they stay open until the early hours and are the perfect place for
                    people-watching. Spend your sabbatical staying at Mon Suites Catedral for a great central location
                    with lovely views of the square below.</p>
            </div>
        </div>
    </main>