<main>
        <div class="blog1">
            <img src="/assets/images/Guide/blog1/france.jpg" alt="">
        </div>
        <div class="guide">
            <div class="container">
                <p class="topic"><b>What to do in France?</b></p>
                <p class="text">If we had to select ten places, here are the ones we would recommend you to visit in
                    Paris. Go ahead and fall in love!</p>
                <p class="title"><b>Eiffel Tower</b></p>
                <img src="/assets/images/Guide/blog1/Eiffel Tower.jpg" alt="">
                <p class="text">What would Paris be without its symbolic Eiffel Tower? Built by Gustave Eiffel to
                    commemorate the centenary of the French Revolution, it is presented at the Exposition Universelle in
                    Paris in 1889. 324 meters high, it is one of the most visited monuments in the world with nearly 7
                    million visitors a year.

                    The first floor houses the Eiffel Tower 58 which extends over two levels, 58 meters above the ground
                    as its name suggests. On the second floor, the view is the best at 115 meters because you have a
                    diving view on the ground below. Finally on the 3rd floor at 275 meters, you can see what the office
                    of Gustave Eiffel was. For the more adventurous one, it is possible to use the stairs and climb the
                    steps (1,665 to the summit).

                    The ascent of the Eiffel Tower is a must to enjoy the magnificent view of Paris.</p>
                <p class="title"><b>Notre Dame Cathedral</b></p>
                <img src="/assets/images/Guide/blog1/NotreDam..jpg" alt="">
                <p class="text">One of the most enduring symbols of Paris: Notre-Dame de Paris, also known as Notre
                    Dame, a Roman Catholic cathedral is located on the eastern half of the Ile de la Cité. It is widely
                    considered one of the finest examples of French Gothic architecture in France and Europe. Begun in
                    1163 and completed in 1345, this cathedral is a sight with its portals surrounded by his many
                    sculptures and gargoyles that adorn the roof.

                    We advise you to walk around the cathedral, then go inside and climb the 387 steps to the top of the
                    towers. The climb to the top of the towers can be exhausting, but you will get a panoramic view of
                    the region and see the famous gargoyles up close.</p>
                <p class="title"><b>Louvre Museum</b></p>
                <img src="/assets/images/Guide/blog1/louvre.jpg" alt="">
                <p class="text">The Louvre is the most visited art museum in the world. Located in the heart of Paris,
                    this historic building is a former royal palace, with an area of 210,000 square meters including
                    60,600 for the exhibitions. The museum is housed in the Louvre, originally a fortress built in the
                    late 12th century under Philip II. The remains of the fortress are visible in the basement of the
                    museum.

                    The collection is divided into eight departments:

                    <li>Egyptian antiquities</li>
                    <li>Oriental antiquities</li>
                    <li>Greek, Etruscan and Roman</li>
                    <li>Islamic Art</li>
                    <li>Sculptures of the Middle Ages, Renaissance and Modern Times</li>
                    <li>Objects of art</li>
                    <li>Paintings</li>
                    <li>Graphic arts.</li>
                </p>
                <p class="title"><b>Cruise on the Seine</b></p>
                <img src="/assets/images/Guide/blog1/Siene.jpg" alt="">
                <p class="text">Find the best way to visit the "City of Light" enjoying a cruise on the Seine,
                    especially at night. When the sun sets, the monuments are lit slowly. You get a panoramic view to
                    the forefront so you can enjoy the beauty of Paris: Eiffel Tower, Notre Dame, Pont Alexandre III and
                    many more.

                    You can also enjoy a dinner cruise on the Seine aboard a boat. For about two hours, you are
                    welcomed.</p>
                <p class="title"><b>Disneyland Paris</b></p>
                <img src="/assets/images/Guide/blog1/Disneyland.jpg" alt="">
                <p class="text">Fans of Mickey can visit Disneyland Paris which is located 32 km from central Paris,
                    with a connection to the suburban RER A.

                    Disneyland Paris has two theme parks: Disneyland (with Sleeping Beauty's castle) and Walt Disney
                    Studios. Top attractions are Space Mountain, It's a Small World and Big Thunder Mountain.</p>
            </div>
        </div>
    </main>