@model Promotion

<div class="col-md-6 grid-margin stretch-card">
	<div class="card">
		<div class="card-body">
			<h4 class="card-title">Promotion - Update</h4>
			<form method="post" enctype="multipart/form-data" class="forms-sample">
				<button type="submit" class="btn btn-primary mr-2">Submit</button>
				<button asp-controller="promotion" asp-action="index" class="btn btn-light">Cancel</button>
			</form>
		</div>
	</div>
</div>