@model List<Promotion>

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Promotion</h4>
            <a asp-controller="dashboard" asp-action="index" class="btn btn-primary">Go Back</a>
			<a asp-controller="promotion" asp-action="create" class="btn btn-success">Create</a>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                Image
                            </th>
                            <th>
                                Settings
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var promotion in Model)
                        {
                            <tr>
                                <td class="py-1">
                                    <img src="/assets/uploads/images/@promotion.ImageUrl" alt="image" />
                                </td>
                                <td>
									<a asp-controller="promotion" asp-action="details" asp-route-id="@promotion.Id" class="btn btn-primary">Details</a>
									<a asp-controller="promotion" asp-action="update" asp-route-id="@promotion.Id" class="btn btn-warning">Update</a>
									<a asp-controller="promotion" asp-action="delete" asp-route-id="@promotion.Id" class="btn btn-danger">Delete</a>
								</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>