<main>
        <div class="blog1">
            <img src="/assets/images/Guide/1pool.jpg" alt="">
        </div>
        <div class="guide">
            <div class="container">
                <p class="topic"><b>5 of New York City’s most enticing rooftop pools</b></p>
                <p class="text">New York City boasts one of the world’s most recognisable skylines, with the towering
                    skyscrapers of Manhattan rising up from the East River, framed by landmarks like the Brooklyn Bridge
                    and the Statue of Liberty. And while most of the best views of the Big Apple’s glittering cityscape
                    are from above, lots of the top vantage points also feature outdoor swimming pools – perfect for
                    cooling down and relaxing when the city heats up. Head up to any one of these rooftop pools and see
                    for yourself.</p>
                <p class="title"><b>1 Hotel Brooklyn Bridge</b></p>
                <img src="/assets/images/Guide/blog1/Brooklyn.jpg" alt="">
                <p class="description">Soak up sweeping views of Manhattan as you sip on a house cocktail</p>
                <p class="text">Sporting a futuristic, glass facade, 1 Hotel Brooklyn Bridge is an eco-conscious hotel
                    straddling the banks of NYC’s East River. Just a stone’s throw from Brooklyn Bridge, it’s privy to
                    one of the city’s most sought-after vistas, best enjoyed from the tenth floor where a slim plunge
                    pool overlooks the river towards the soaring skyscrapers of Manhattan. The arresting views are worth
                    enjoying from the The Brooklyn Heights Social Club bar adjacent to the pool, with a signature
                    cocktail in hand and maybe a lobster roll in the other. Keep an eye out for Lady Liberty, too,
                    cutting a regal figure on the horizon.</p>
                <p class="title"><b>Sixty LES</b></p>
                <img src="/assets/images/Guide/blog1/Sixty LES.jpg" alt="">
                <p class="description">A picture of Andy Warhol is painted on the bottom of this rooftop pool</p>
                <p class="text">Tucked in the gritty but glamorous Lower East Side, Sixty LES is an arty hideout
                    complete with a rooftop pool. Head up to the roof where you’ll find a strip of blue water with a
                    stark picture of Andy Warhol painted on the bottom of the pool. Metallic accents grace the rooftop
                    area, a continuation of the hotel’s stylish interior. If you’re stopping by with a few friends,
                    consider renting the poolside cabana, a relaxed space that houses a wet bar, booming sound system
                    and fully stocked refreshment area. Order a selection of small plates from the on-site Japanese
                    restaurant to fortify yourself to celebrate long into the night – there’ll be plenty of sun loungers
                    to recover on come morning.</p>
                <p class="title"><b>The Williamsburg Hotel</b></p>
                <img src="/assets/images/Guide/blog1/Williamsburg.jpg" alt="">
                <p class="description">Lounge on the pinstriped sunbeds or hang out at the rooftop café</p>
                <p class="text">There’s an effortless cool to The Williamsburg Hotel. The brainchild of the architects
                    behind Soho House Berlin, it’s a modern hotel with innate class. And the pool is no different – a
                    long and slender stretch of aquamarine spanning the roof, it’s surrounded by a collection of
                    pinstriped sunbeds and pot plants. Linger here over some of New York’s most prized views, of stately
                    Manhattan and the red-brick architecture that Williamsburg is known for. The terrace has a rooftop
                    café for when you’re done with swimming. You should try to hang around until sundown to head up to
                    the hotel’s water tower, which is home to the dark arts of mixology and late-night dancing.</p>
                <p class="title"><b>Royalton Park Avenue</b></p>
                <img src="/assets/images/Guide/blog1/Royalton.jpg" alt="">
                <p class="description">This rooftop pool looks especially good at night, lit up with festoon lights</p>
                <p class="text">What was once the Gansevoort Park Rooftop has now been rebranded as the Royalton Park
                    Avenue, but the roof continues to magnetise trendy New Yorkers. This Park Avenue pool can be found
                    high up on the hotel’s 20th floor. Up here, it’s a veritable oasis – a 40-foot plunge pool is
                    overlooked by a wall cloaked in ivy, with sunbeds dotting its perimeter. The pool is at its most
                    magical at night though, when tangles of festoon lights criss-cross overhead, lonely candles are
                    scattered on the tables and – in the distance – you can see the illuminated Empire State Building.
                    It’s the quintessential view of the NYC skyline, unforgettable when paired with the pool bar’s
                    delicious cocktails.</p>
                <p class="title"><b>The William Vale</b></p>
                <img src="/assets/images/Guide/blog1/Vale.jpg" alt="">
                <p class=" description">The artisan cocktails and Manhattan views are this pool's main draws</p>
                <p class="text">Unsurprisingly, Brooklyn is home to one of the most chic pools in New York City. The
                    William Vale is a new addition to the Williamsburg neighbourhood and is a vision of the future. This
                    hotel’s pool sets the precedent for game-changing design – at 60 feet in length, it’s the largest
                    hotel pool in the city. A sweep of blue and dove grey, the pool looks out over the East River with a
                    view that captures New York at its most majestic. It’s a welcoming spot for all, including families
                    who will appreciate the lifeguard service. But the biggest draw has to be the poolside bar –
                    Westlight. Artisanal cocktails like frozen mai tais and cucumber margaritas are the speciality here.
                    Snag yourself a spot at this 22nd-floor drinking den and raise a toast to the boundless panorama.
                    And don’t forget to eat – the hotel restaurant is award-winning, with a focus on coastal Italian
                    cuisine using wood-fired cooking techniques.</p>
            </div>
        </div>
    </main>