* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.navbar {
  background-color: darkblue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .brand-title {
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
}

.navbar .brand-title .logo {
  color: #f7a90c;
  text-decoration: none;
}

.navbar .navbar-links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar .navbar-links ul li {
  padding-top: 2%;
  list-style: none;
}

.navbar .navbar-links ul li a {
  text-decoration: none;
  color: white;
  display: block;
  padding-right: 20px;
  font-size: 20px;
}

.navbar .navbar-links ul li a:hover {
  color: #f7a90c;
}

.navbar .toggle {
  position: absolute;
  top: 10px;
  right: 16px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 30px;
  height: 21px;
}

.navbar .toggle .bar {
  background-color: #fff;
  border-radius: 10px;
  width: 100%;
  height: 3px;
}

.section-1 {
  position: relative;
  color: white;
}

.section-1 img {
  width: 100%;
}

.section-1 .container {
  -webkit-transform: scale(0.94);
          transform: scale(0.94);
  -webkit-animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
          animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
  position: absolute;
  top: 50%;
  left: 20%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.section-1 .container .title {
  padding-top: 10%;
  font-size: 50px;
}

.section-1 .container .subtitle {
  font-size: 25px;
}

@-webkit-keyframes scale {
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scale {
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.section-1 .title {
  display: inline-block;
  opacity: 0;
  -webkit-filter: blur(4px);
          filter: blur(4px);
}

.section-1 .title:nth-child(1) {
  -webkit-animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
          animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

@-webkit-keyframes fade-in {
  100% {
    opacity: 1;
    -webkit-filter: blur(0);
            filter: blur(0);
  }
}

@keyframes fade-in {
  100% {
    opacity: 1;
    -webkit-filter: blur(0);
            filter: blur(0);
  }
}

.section-2 {
  padding-top: 2%;
  padding-bottom: 2%;
  width: 100%;
  color: white;
  background-color: #f7a90c;
}

.section-2 input {
  width: 100%;
  padding: 10px;
}

.section-2 .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-2 .inputs {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  grid-gap: 30px;
}

.section-2 .inputs .box {
  border-radius: 30px;
}

.section-2 .inputs .search {
  padding: 33px;
}

.section-2 .inputs .search .btn {
  width: 120%;
  height: 120%;
}

.section-3 {
  padding-bottom: 10%;
  padding-top: 10%;
}

.section-3 .advertisement {
  width: 90%;
}

.section-3 .advertisement2 {
  width: 90%;
}

.section-4 {
  padding-top: 2%;
  padding-bottom: 5%;
  background-color: whitesmoke;
}

.section-4 .topic {
  font-size: 30px;
  padding-bottom: 5%;
}

.section-4 .row {
  text-align: center;
}

.section-4 .row .card {
  border: none;
  background-color: whitesmoke;
}

.section-4 .row .card .flag {
  width: 100%;
}

.section-4 .row .card .title {
  font-size: 20px;
  padding-top: 10%;
  color: black;
}

.section-4 .row .card .title:hover {
  color: #f7a90c;
  text-decoration: none;
}

.section-5 {
  padding-top: 2%;
  padding-bottom: 5%;
}

.section-5 .topic {
  font-size: 30px;
  padding-bottom: 5%;
}

.section-5 .hotels {
  padding-top: 5%;
}

.section-5 .card {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-align: center;
  width: 100%;
}

.section-5 .card .checked {
  width: 16px;
  color: orange;
  margin-left: 1%;
  margin-top: 1%;
}

.section-5 .card .title {
  font-size: 20px;
  color: black;
}

.section-5 .card .subtitle {
  font-size: 15px;
  color: grey;
}

.section-5 .card:hover {
  -webkit-box-shadow: 0 16px 16px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 16px 16px 0 rgba(0, 0, 0, 0.2);
}

.section-5 .pagination {
  text-align: center;
  padding-left: 43%;
  padding-top: 5%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.section-5 .pagination li {
  cursor: pointer;
  width: 45px;
  display: inline-block;
  margin: 5px;
  -webkit-box-shadow: 0 5px 16px 0 rgba(1, 0, 0, 0.2);
          box-shadow: 0 5px 16px 0 rgba(1, 0, 0, 0.2);
  border-radius: 50%;
}

.section-5 .pagination li a {
  color: #f7a90c;
  text-decoration: none;
  font-size: 17px;
  line-height: 45px;
}

.section-5 .pagination .active {
  background: darkblue;
}

.section-6 {
  padding-top: 2%;
  padding-bottom: 5%;
  background-color: whitesmoke;
}

.section-6 .topic {
  font-size: 30px;
  padding-bottom: 5%;
}

.section-6 .card {
  position: relative;
  text-align: center;
  color: white;
}

.section-6 .card img {
  width: 100%;
}

.section-6 .card .textOnImage {
  background-color: rgba(0, 0, 0, 0.464);
  position: absolute;
  bottom: 0;
}

.section-6 .card .textOnImage .title {
  font-size: 25px;
  color: white;
}

.section-6 .card2 {
  position: relative;
  text-align: center;
  color: white;
  margin-top: 2%;
  margin-bottom: 2%;
}

.section-6 .card2 img {
  width: 100%;
  height: 50%;
}

.section-6 .card2 .textOnImage {
  background-color: rgba(0, 0, 0, 0.464);
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

.section-6 .card2 .textOnImage .title {
  font-size: 25px;
  color: white;
}

.section-6 .card:hover .textOnImage {
  background-color: rgba(0, 0, 0, 0.464);
  position: absolute;
  bottom: 0;
  top: 0;
  padding-top: 30%;
  -webkit-transition: 1s;
  transition: 1s;
}

.section-6 .card:hover .textOnImage .title {
  font-size: 25px;
  color: white;
}

.section-6 .card2:hover .textOnImage {
  background-color: rgba(0, 0, 0, 0.464);
  position: absolute;
  bottom: 0;
  top: 0;
  padding-top: 20%;
  -webkit-transition: 1s;
  transition: 1s;
}

.section-6 .card2:hover .textOnImage .title {
  font-size: 25px;
  color: white;
}

.about-1 img {
  width: 100%;
}

.about-2 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding-top: 5%;
}

.about-2 .title {
  font-size: 30px;
}

.about-2 .subtitle {
  padding-bottom: 4%;
  font-size: 17px;
  color: gray;
}

.about-2 .title2 {
  font-size: 20px;
}

.about-3 {
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: whitesmoke;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.about-3 .title {
  padding-bottom: 5%;
  font-size: 30px;
}

.about-3 .card {
  padding: 10%;
  border-radius: 20px;
}

.about-3 .card .lorem {
  color: gray;
}

.about-3 .card .checked {
  margin-bottom: 5%;
  color: orange;
}

.about-3 .card .place {
  color: gray;
  font-size: 15px;
}

.about-4 {
  padding-top: 5%;
  padding-bottom: 5%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.about-4 img {
  width: 100%;
}

.about-4 .title {
  padding-bottom: 5%;
  font-size: 30px;
}

.about-4 .name {
  font-size: 20px;
  text-align: center;
}

.about-4 .job {
  color: gray;
  text-align: center;
}

.blog1 img {
  width: 100%;
}

.guide {
  margin-left: 30%;
  margin-right: 25%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.guide .topic {
  font-size: 40px;
}

.guide .text {
  padding-top: 2%;
}

.guide .title {
  padding-top: 3%;
  font-size: 25px;
}

.guide img {
  width: 100%;
}

.guide .description {
  font-size: 12px;
  color: gray;
}

h1 {
  padding-top: 5%;
  padding-bottom: 3%;
  text-align: center;
}

.faq-container {
  max-width: 600px;
  margin: 0 auto;
  padding-bottom: 5%;
}

.faq-container .faq {
  background-color: transparent;
  border: 1px solid #9fa4a8;
  border-radius: 10px;
  margin: 20px 0;
  padding: 30px;
  position: relative;
  overflow: hidden;
  -webkit-transition: 0.9 ease;
  transition: 0.9 ease;
}

.faq-container .faq .faq.active {
  background-color: #fff;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
}

.faq-container .faq .faq-title {
  margin: 0 35px 0 0;
  text-align: start !important;
}

.faq-container .faq .faq-text {
  display: none;
  margin: 30px 0 0;
  text-align: start !important;
}

.faq-container .faq .faq-toggle {
  background-color: transparent;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 16px;
  padding: 0;
  position: absolute;
  top: 30px;
  right: 30px;
  height: 30px;
  width: 30px;
}

.faq-container .faq .faq-toggle .fa-times {
  display: none;
}

.faq-container .faq .faq-toggle:focus {
  outline: 0;
}

.faq-container .faq.active .faq-text {
  display: block;
}

.faq-container .faq.active .faq-toggle .fa-times {
  color: #fff;
  display: block;
}

.faq-container .faq.active .faq-toggle .fa-chevron-down {
  display: none;
}

.faq-container .faq.active .faq-toggle {
  background-color: #9fa4a8;
}

.signIn {
  position: relative;
  padding-top: 5%;
  padding-bottom: 5%;
}

.signIn .card {
  padding: 10%;
  -webkit-box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2);
}

.signUp {
  position: relative;
  padding-top: 5%;
  padding-bottom: 5%;
}

.signUp .card {
  padding: 10%;
  -webkit-box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2);
}

.hotel1Image {
  width: 100%;
  height: 100%;
}

.room {
  padding-top: 5%;
}

.room .title {
  font-size: 30px;
}

.room .location {
  color: #9fa4a8;
}

.room .place {
  color: #9fa4a8;
}

.room .carousel {
  width: 70vw;
  height: 100vh;
  position: relative;
}

.room .carousel > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.room .slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  -webkit-transition: 200ms opacity ease-in-out;
  transition: 200ms opacity ease-in-out;
  -webkit-transition-delay: 200ms;
          transition-delay: 200ms;
}

.room .slide img {
  padding-top: 5%;
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.room .slide[data-active] {
  opacity: 1;
  z-index: 1;
  -webkit-transition-delay: 0ms;
          transition-delay: 0ms;
}

.room .carousel-button {
  position: absolute;
  z-index: 2;
  background: none;
  border: none;
  font-size: 3rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  border-radius: .25rem;
  padding: 0 .4rem;
  background-color: rgba(0, 0, 0, 0.1);
}

.room .carousel-button:hover,
.room .carousel-button:focus {
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
}

.room .carousel-button:focus {
  outline: 1px solid black;
}

.room .carousel-button.prev {
  left: 1rem;
}

.room .carousel-button.next {
  right: 1rem;
}

.room .about-room {
  padding-top: 5%;
  padding-bottom: 5%;
}

.room .about-room .title {
  font-size: 25px;
}

.room .about-room .text {
  color: #9fa4a8;
}

.room .about-room .subtitle {
  padding-top: 3%;
  font-size: 20px;
}

.room .about-room .icons {
  padding-left: 2%;
}

.room .button {
  padding-bottom: 5%;
}

.room .button a {
  padding: 15px;
  border-radius: 40px;
}

.booking .title {
  padding-top: 5%;
  font-size: 30px;
}

.booking .inputs {
  padding-top: 3%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
}

.booking .inputs input {
  width: 80%;
  padding: 10px;
}

.booking .inputs .box {
  border-radius: 30px;
}

.booking .inputs .box span {
  color: red;
}

.booking .reserve {
  padding-left: 8%;
  padding-top: 2%;
  margin-top: 10%;
  margin-bottom: 10%;
  width: 40%;
  color: white;
  background-color: #f7a90c;
}

.booking .reserve .reserving {
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.booking .reserve .reserving input {
  width: 70%;
  padding: 10px;
}

.booking .reserve .reserving .box {
  border-radius: 30px;
}

.booking .reserve .reserving .button {
  padding-right: 105px;
  padding-bottom: 30px;
}

.booking .reserve .reserving .button .btn {
  width: 100%;
  height: 100%;
}

.booking .card {
  padding: 5% 10% 5% 2%;
  border-radius: 10px;
}

.booking .card p {
  color: #9fa4a8;
  font-size: 18px;
}

.booking .card p b {
  color: black !important;
}

.booking .card .please {
  padding-top: 2%;
  font-style: italic;
}

.booking .button {
  padding-bottom: 10%;
}

.booking .button a {
  padding: 2%;
  border-radius: 40px;
}

footer {
  background-color: darkblue;
  padding-top: 3%;
  padding-bottom: 1%;
}

footer .topic {
  color: #f7a90c;
  font-size: 20px;
}

footer .list {
  color: lightgray;
}

footer .list:hover {
  color: #f7a90c;
  text-decoration: none;
}

footer .vk {
  border-radius: 50%;
  width: 7%;
}

footer .hr {
  border-top: 1px solid orange;
}

footer .copyright {
  color: lightgray;
}

footer .payment {
  margin-left: 50%;
}

@media (max-width: 1000px) {
  .navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .navbar .toggle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar .navbar-links {
    display: none;
    width: 100%;
  }
  .navbar .navbar-links ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .navbar .navbar-links ul li {
    text-align: center;
  }
  .navbar .navbar-links ul li button {
    margin-top: 15px;
  }
  .navbar .navbar-links.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .section-1 .container {
    -webkit-transform: scale(0.94);
            transform: scale(0.94);
    -webkit-animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
            animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
    position: absolute;
    top: 30%;
    left: 10%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .section-1 .container .title {
    padding-top: 10%;
    font-size: 30px;
  }
  .section-1 .container .subtitle {
    font-size: 16px;
  }
  .section-2 {
    width: 100%;
    color: white;
    background-color: #f7a90c;
  }
  .section-2 input {
    width: 80%;
    padding: 5px;
  }
  .section-2 .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .section-2 .inputs {
    padding-left: 20%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-gap: 4px;
  }
  .section-2 .search {
    padding: 10px;
  }
  .section-2 .search .btn {
    width: 200%;
    height: 100%;
  }
  .section-3 {
    padding-top: 10%;
  }
  .section-3 .advertisement {
    width: 90%;
  }
  .section-3 .advertisement2 {
    width: 90%;
    padding-top: 5%;
  }
  .section-6 {
    padding-top: 2%;
    padding-bottom: 5%;
    background-color: whitesmoke;
  }
  .section-6 .topic {
    font-size: 30px;
    padding-bottom: 5%;
  }
  .section-6 .card {
    position: relative;
    text-align: center;
    color: white;
  }
  .section-6 .card img {
    width: 100%;
  }
  .section-6 .card .textOnImage {
    background-color: rgba(0, 0, 0, 0.464);
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
  }
  .section-6 .card .textOnImage .title {
    font-size: 25px;
    color: white;
  }
  .section-6 .card2 {
    position: relative;
    text-align: center;
    color: white;
    margin-top: 2%;
    margin-bottom: 2%;
  }
  .section-6 .card2 img {
    width: 100%;
    height: 50%;
  }
  .section-6 .card2 .textOnImage {
    background-color: rgba(0, 0, 0, 0.464);
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
  }
  .section-6 .card2 .textOnImage .title {
    font-size: 25px;
    color: white;
  }
  .section-6 .card:hover .textOnImage {
    background-color: rgba(0, 0, 0, 0.464);
    position: absolute;
    bottom: 0;
    top: 0;
    padding-top: 50%;
    -webkit-transition: 1s;
    transition: 1s;
  }
  .section-6 .card:hover .textOnImage .title {
    font-size: 25px;
    color: white;
  }
  .section-6 .card2:hover .textOnImage {
    background-color: rgba(0, 0, 0, 0.464);
    position: absolute;
    bottom: 0;
    top: 0;
    padding-top: 20%;
    -webkit-transition: 1s;
    transition: 1s;
  }
  .section-6 .card2:hover .textOnImage .title {
    font-size: 25px;
    color: white;
  }
}

@media (max-width: 800px) {
  .navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .navbar .toggle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar .navbar-links {
    display: none;
    width: 100%;
  }
  .navbar .navbar-links ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .navbar .navbar-links ul li {
    text-align: center;
  }
  .navbar .navbar-links ul li button {
    margin-top: 15px;
  }
  .navbar .navbar-links.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .section-1 .container {
    -webkit-transform: scale(0.94);
            transform: scale(0.94);
    -webkit-animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
            animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
    position: absolute;
    top: 30%;
    left: 10%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .section-1 .container .title {
    padding-top: 10%;
    font-size: 30px;
  }
  .section-1 .container .subtitle {
    font-size: 16px;
  }
  .section-2 {
    width: 100%;
    color: white;
    background-color: #f7a90c;
  }
  .section-2 input {
    width: 80%;
    padding: 5px;
  }
  .section-2 .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .section-2 .inputs {
    padding-left: 20%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-gap: 4px;
  }
  .section-2 .search {
    padding: 10px;
  }
  .section-2 .search .btn {
    width: 200%;
    height: 100%;
  }
  .section-3 {
    padding-top: 10%;
  }
  .section-3 .advertisement {
    width: 90%;
  }
  .section-3 .advertisement2 {
    width: 90%;
    padding-top: 5%;
  }
  .section-6 {
    padding-top: 2%;
    padding-bottom: 5%;
    background-color: whitesmoke;
  }
  .section-6 .topic {
    font-size: 30px;
    padding-bottom: 5%;
  }
  .section-6 .card {
    position: relative;
    text-align: center;
    color: white;
  }
  .section-6 .card img {
    width: 100%;
  }
  .section-6 .card .textOnImage {
    background-color: rgba(0, 0, 0, 0.464);
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
  }
  .section-6 .card .textOnImage .title {
    font-size: 25px;
    color: white;
  }
  .section-6 .card2 {
    position: relative;
    text-align: center;
    color: white;
    margin-top: 2%;
    margin-bottom: 2%;
  }
  .section-6 .card2 img {
    width: 100%;
    height: 50%;
  }
  .section-6 .card2 .textOnImage {
    background-color: rgba(0, 0, 0, 0.464);
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
  }
  .section-6 .card2 .textOnImage .title {
    font-size: 25px;
    color: white;
  }
  .section-6 .card:hover .textOnImage {
    background-color: rgba(0, 0, 0, 0.464);
    position: absolute;
    bottom: 0;
    top: 0;
    padding-top: 50%;
    -webkit-transition: 1s;
    transition: 1s;
  }
  .section-6 .card:hover .textOnImage .title {
    font-size: 25px;
    color: white;
  }
  .section-6 .card2:hover .textOnImage {
    background-color: rgba(0, 0, 0, 0.464);
    position: absolute;
    bottom: 0;
    top: 0;
    padding-top: 20%;
    -webkit-transition: 1s;
    transition: 1s;
  }
  .section-6 .card2:hover .textOnImage .title {
    font-size: 25px;
    color: white;
  }
}

@media (max-width: 650px) {
  .section-1 .container {
    -webkit-transform: scale(0.94);
            transform: scale(0.94);
    -webkit-animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
            animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
    position: absolute;
    top: 20%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .section-1 .container .title {
    padding-top: 10%;
    font-size: 20px;
  }
  .section-1 .container .subtitle {
    font-size: 10px;
  }
  .section-2 {
    width: 100%;
    color: white;
    background-color: #f7a90c;
  }
  .section-2 input {
    width: 80%;
    padding: 5px;
  }
  .section-2 .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .section-2 .inputs {
    padding-left: 20%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-gap: 4px;
  }
  .section-2 .search {
    padding-left: 40%;
    padding: 10px;
  }
}

@media (max-width: 500px) {
  .section-2 {
    width: 100%;
    color: white;
    background-color: #f7a90c;
  }
  .section-2 input {
    width: 80%;
    padding: 5px;
  }
  .section-2 .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .section-2 .inputs {
    padding-left: 20%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-gap: 4px;
  }
  .section-2 .search {
    padding-left: 40%;
    padding: 10px;
  }
  footer {
    background-color: darkblue;
    padding-top: 3%;
    padding-bottom: 1%;
  }
  footer .topic {
    color: #f7a90c;
    font-size: 20px;
  }
  footer .list {
    color: lightgray;
  }
  footer .list:hover {
    color: #f7a90c;
    text-decoration: none;
  }
  footer .vk {
    border-radius: 50%;
    width: 7%;
  }
  footer .hr {
    border-top: 1px solid orange;
  }
  footer .copyright {
    color: lightgray;
    font-size: 10px;
  }
  footer .payment {
    margin-left: 40%;
    width: 60%;
  }
}
/*# sourceMappingURL=style.css.map */