* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: darkblue;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .brand-title {
        font-family: 'Courier New', Courier, monospace;
        font-size: 30px;

        .logo {
            color: rgb(247, 169, 12);
            text-decoration: none;

        }
    }

    .navbar-links ul {
        display: flex;

        li {
            padding-top: 2%;
            list-style: none;

            a {
                text-decoration: none;
                color: white;
                display: block;
                padding-right: 20px;
                font-size: 20px;
            }

            a:hover {
                color: rgb(247, 169, 12);

            }
        }


    }

    .toggle {
        position: absolute;
        top: 10px;
        right: 16px;
        display: none;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 21px;

        .bar {
            background-color: #fff;
            border-radius: 10px;
            width: 100%;
            height: 3px;
        }
    }
}

.section-1 {
    position: relative;
    color: white;

    img {
        width: 100%;
    }

    .container {
        transform: scale(0.94);
        animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
        position: absolute;
        top: 50%;
        left: 20%;
        transform: translate(-50%, -50%);

        .title {
            padding-top: 10%;
            font-size: 50px;
        }

        .subtitle {
            font-size: 25px;
        }
    }

    @keyframes scale {
        100% {
            transform: scale(1);
        }
    }

    .title {
        display: inline-block;
        opacity: 0;
        filter: blur(4px);
    }

    .title:nth-child(1) {
        animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
    }

    @keyframes fade-in {
        100% {
            opacity: 1;
            filter: blur(0);
        }
    }

}

.section-2 {
    padding-top: 2%;
    padding-bottom: 2%;
    width: 100%;
    color: white;
    background-color: rgb(247, 169, 12);

    input {
        width: 100%;
        padding: 10px;
    }

    .container {
        display: flex;
    }

    .inputs {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 30px;

        .box {
            border-radius: 30px;
        }

        .search {
            padding: 33px;

            .btn {
                width: 120%;
                height: 120%;
            }
        }
    }

}

.section-3 {
    padding-bottom: 10%;
    padding-top: 10%;

    .advertisement {
        width: 90%;
    }

    .advertisement2 {
        width: 90%;
    }
}

.section-4 {
    padding-top: 2%;
    padding-bottom: 5%;
    background-color: rgb(245, 245, 245);

    .topic {
        font-size: 30px;
        padding-bottom: 5%;
    }

    .row {
        text-align: center;

        .card {
            border: none;
            background-color: rgb(245, 245, 245);

            .flag {
                width: 100%;
            }

            .title {
                font-size: 20px;
                padding-top: 10%;
                color: black;
            }

            .title:hover {
                color: rgb(247, 169, 12);
                text-decoration: none;
            }
        }
    }
}

.section-5 {
    padding-top: 2%;
    padding-bottom: 5%;

    .topic {
        font-size: 30px;
        padding-bottom: 5%;
    }

    .hotels {
        padding-top: 5%;
    }

    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        text-align: center;
        width: 100%;

        .checked {
            width: 16px;
            color: orange;
            margin-left: 1%;
            margin-top: 1%;
        }

        .title {
            font-size: 20px;
            color: black;
        }

        .subtitle {
            font-size: 15px;
            color: grey;
        }
    }

    .card:hover {
        box-shadow: 0 16px 16px 0 rgba(0, 0, 0, 0.2);
    }

    .pagination {
        text-align: center;
        padding-left: 43%;
        padding-top: 5%;
        user-select: none;

        li {
            cursor: pointer;
            width: 45px;
            display: inline-block;
            margin: 5px;
            box-shadow: 0 5px 16px 0 rgba(1, 0, 0, 0.2);
            border-radius: 50%;


            a {
                color: rgb(247, 169, 12);
                text-decoration: none;
                font-size: 17px;
                line-height: 45px;
            }

        }

        .active {
            background: darkblue;
        }
    }
}

.section-6 {
    padding-top: 2%;
    padding-bottom: 5%;
    background-color: rgb(245, 245, 245);

    .topic {
        font-size: 30px;
        padding-bottom: 5%;
    }

    .card {
        position: relative;
        text-align: center;
        color: white;

        img {
            width: 100%;
        }

        .textOnImage {
            background-color: rgba(0, 0, 0, 0.464);
            position: absolute;
            bottom: 0;

            .title {
                font-size: 25px;
                color: white;
            }
        }

    }

    .card2 {
        position: relative;
        text-align: center;
        color: white;
        margin-top: 2%;
        margin-bottom: 2%;

        img {
            width: 100%;
            height: 50%;
        }

        .textOnImage {
            background-color: rgba(0, 0, 0, 0.464);
            position: absolute;
            bottom: 0;
            right: 0;
            left: 0;

            .title {
                font-size: 25px;
                color: white;
            }
        }

    }

    .card:hover {
        .textOnImage {
            background-color: rgba(0, 0, 0, 0.464);
            position: absolute;
            bottom: 0;
            top: 0;
            padding-top: 30%;
            transition: 1s;

            .title {
                font-size: 25px;
                color: white;
            }
        }
    }

    .card2:hover {
        .textOnImage {
            background-color: rgba(0, 0, 0, 0.464);
            position: absolute;
            bottom: 0;
            top: 0;
            padding-top: 20%;
            transition: 1s;

            .title {
                font-size: 25px;
                color: white;
            }
        }
    }
}

.about-1 {
    img {
        width: 100%;
    }
}

.about-2 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 5%;

    .title {
        font-size: 30px;
    }

    .subtitle {
        padding-bottom: 4%;
        font-size: 17px;
        color: gray;
    }

    .title2 {
        font-size: 20px;
    }
}

.about-3 {
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: rgb(245, 245, 245);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    .title {
        padding-bottom: 5%;
        font-size: 30px;
    }

    .card {
        padding: 10%;
        border-radius: 20px;

        .lorem {
            color: gray;
        }

        .checked {
            margin-bottom: 5%;
            color: orange;
        }

        .place {
            color: gray;
            font-size: 15px;
        }
    }
}

.about-4 {
    padding-top: 5%;
    padding-bottom: 5%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    img {
        width: 100%;
    }

    .title {
        padding-bottom: 5%;
        font-size: 30px;
    }

    .name {
        font-size: 20px;
        text-align: center;
    }

    .job {
        color: gray;
        text-align: center;
    }
}

.blog1 {
    img {
        width: 100%;
    }
}

.guide {
    margin-left: 30%;
    margin-right: 25%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    .topic {
        font-size: 40px;
    }

    .text {
        padding-top: 2%;
    }

    .title {
        padding-top: 3%;
        font-size: 25px;
    }

    img {
        width: 100%;
    }

    .description {
        font-size: 12px;
        color: gray;
    }



}

h1 {
    padding-top: 5%;
    padding-bottom: 3%;
    text-align: center;
}

.faq-container {
    max-width: 600px;
    margin: 0 auto;
    padding-bottom: 5%;


    .faq {
        background-color: transparent;
        border: 1px solid #9fa4a8;
        border-radius: 10px;
        margin: 20px 0;
        padding: 30px;
        position: relative;
        overflow: hidden;
        transition: 0.9 ease;

        .faq.active {
            background-color: #fff;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
        }

        .faq-title {
            margin: 0 35px 0 0;
            text-align: start !important;

        }

        .faq-text {
            display: none;
            margin: 30px 0 0;
            text-align: start !important;
        }

        .faq-toggle {
            background-color: transparent;
            border: 0;
            border-radius: 50%;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 16px;
            padding: 0;
            position: absolute;
            top: 30px;
            right: 30px;
            height: 30px;
            width: 30px;

            .fa-times {
                display: none;
            }
        }

        .faq-toggle:focus {
            outline: 0;
        }
    }

    .faq.active .faq-text {
        display: block;
    }

    .faq.active .faq-toggle .fa-times {
        color: #fff;
        display: block;
    }

    .faq.active .faq-toggle .fa-chevron-down {
        display: none;
    }

    .faq.active .faq-toggle {
        background-color: #9fa4a8;
    }
}

.signIn {
    position: relative;
    padding-top: 5%;
    padding-bottom: 5%;

    .card {
        padding: 10%;
        box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2);
    }
}

.signUp {
    position: relative;
    padding-top: 5%;
    padding-bottom: 5%;

    .card {
        padding: 10%;
        box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2);
    }
}

.hotel1Image {
    width: 100%;
    height: 100%;
}

.room {
    padding-top: 5%;

    .title {
        font-size: 30px;
    }

    .location {
        color: #9fa4a8;
    }

    .place {
        color: #9fa4a8;
    }

    .carousel {
        width: 70vw;
        height: 100vh;
        position: relative;
    }

    .carousel>ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .slide {
        position: absolute;
        inset: 0;
        opacity: 0;
        transition: 200ms opacity ease-in-out;
        transition-delay: 200ms;

        img {
            padding-top: 5%;
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }


    .slide[data-active] {
        opacity: 1;
        z-index: 1;
        transition-delay: 0ms;
    }

    .carousel-button {
        position: absolute;
        z-index: 2;
        background: none;
        border: none;
        font-size: 3rem;
        top: 50%;
        transform: translateY(-50%);
        color: rgba(255, 255, 255, .5);
        cursor: pointer;
        border-radius: .25rem;
        padding: 0 .4rem;
        background-color: rgba(0, 0, 0, .1);
    }

    .carousel-button:hover,
    .carousel-button:focus {
        color: white;
        background-color: rgba(0, 0, 0, .2);
    }

    .carousel-button:focus {
        outline: 1px solid black;
    }

    .carousel-button.prev {
        left: 1rem;
    }

    .carousel-button.next {
        right: 1rem;
    }

    .about-room {
        padding-top: 5%;
        padding-bottom: 5%;

        .title {
            font-size: 25px;
        }

        .text {
            color: #9fa4a8;
        }

        .subtitle {
            padding-top: 3%;
            font-size: 20px;
        }

        .icons {
            padding-left: 2%;
        }


    }

    .button {
        padding-bottom: 5%;

        a {
            padding: 15px;
            border-radius: 40px;
        }
    }

}

.booking {

    .title {
        padding-top: 5%;
        font-size: 30px;
    }


    .inputs {
        padding-top: 3%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;

        input {
            width: 80%;
            padding: 10px;
        }

        .box {
            border-radius: 30px;

            span {
                color: red;
            }
        }

    }

    .reserve {
        padding-left: 8%;
        padding-top: 2%;
        margin-top: 10%;
        margin-bottom: 10%;
        width: 40%;
        color: white;
        background-color: rgb(247, 169, 12);

        .reserving {
            grid-template-columns: repeat(2, 1fr);

            input {
                width: 70%;
                padding: 10px;
            }

            .box {
                border-radius: 30px;
            }

            .button {
                padding-right: 105px;
                padding-bottom: 30px;

                .btn {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }

    .card {
        padding: 5% 10% 5% 2%;
        border-radius: 10px;

        p {
            color: #9fa4a8;
            font-size: 18px;

            b {
                color: black !important;
            }

        }

        .please {
            padding-top: 2%;
            font-style: italic;
        }

    }

    .button {
        padding-bottom: 10%;

        a {
            padding: 2%;
            border-radius: 40px;
        }
    }

}

footer {
    background-color: darkblue;
    padding-top: 3%;
    padding-bottom: 1%;

    .topic {
        color: rgb(247, 169, 12);
        font-size: 20px;
    }

    .list {
        color: lightgray;
    }

    .list:hover {
        color: rgb(247, 169, 12);
        text-decoration: none;
    }

    .vk {
        border-radius: 50%;
        width: 7%;
    }

    .hr {
        border-top: 1px solid orange;
    }

    .copyright {
        color: lightgray;
    }

    .payment {
        margin-left: 50%;
    }
}

@media (max-width: 800px) {

    .navbar {
        flex-direction: column;
        align-items: flex-start;

        .toggle {
            display: flex;
        }

        .navbar-links {
            display: none;
            width: 100%;

            ul {
                flex-direction: column;
                width: 100%;

                li {
                    text-align: center;

                    button {
                        margin-top: 15px;
                    }
                }
            }

        }

        .navbar-links.active {
            display: flex;
        }
    }

    .section-2 {

        width: 100%;
        color: white;
        background-color: rgb(247, 169, 12);

        input {
            width: 80%;
            padding: 5px;
        }

        .container {
            display: flex;
        }

        .inputs {
            padding-left: 23%;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 4px;
        }

        .search {
            margin-left: 50%;
            padding: 10px;

            .btn {
                width: 200%;
                height: 100%;
            }
        }
    }

    .section-3 {

        padding-top: 10%;

        .advertisement {
            width: 90%;
        }

        .advertisement2 {
            width: 90%;
            padding-top: 5%;
        }
    }
}

@media (max-width: 650px) {
    .section-2 {

        width: 100%;
        color: white;
        background-color: rgb(247, 169, 12);

        input {
            width: 80%;
            padding: 5px;
        }

        .container {
            display: flex;
        }

        .inputs {
            padding-left: 20%;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 4px;
        }

        .search {
            margin-left: 50%;
            padding: 10px;

            .btn {
                width: 200%;
                height: 100%;
            }
        }
    }
}

@media (max-width: 500px) {
    .section-2 {

        width: 100%;
        color: white;
        background-color: rgb(247, 169, 12);

        input {
            width: 80%;
            padding: 5px;
        }

        .container {
            display: flex;
        }

        .inputs {
            padding-left: 15%;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 4px;
        }

        .search {
            margin-left: 50%;
            padding: 10px;

            .btn {
                width: 200%;
                height: 100%;
            }
        }
    }
}